* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    border: 2px solid black;
  }

html {
    height: 100%;
}

body {
    position:relative;
    height: 100%;
    background-color: #a8324e;
}

#pikachu {
    position:absolute;
    width: 280px;
    margin-right: 1079px;
    margin-top: 355px;
}

#ash {
    position:absolute;
    width: 280px;
    margin-left: 1079px;
    margin-top: 115px;
}

#Pokemons {
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 735px;
    height: 470px;
    
}

#Pokedex {
    width: 800px;
    height: 615px;
    background-color: white;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#Logo {
    display: block;
    width: 300px;
    margin-inline:auto ;
    margin-top: 20px;
    
}
